[submodule "packages/MuonCVXDDigitiser"]
	path = packages/MuonCVXDDigitiser
	url = https://github.com/Pauchkov/MuonCVXDDigitiser.git
[submodule "packages/k4geo"]
	path = packages/k4geo
	url = https://github.com/Pauchkov/k4geo.git
[submodule "packages/k4Reco"]
	path = packages/k4Reco
	url = https://github.com/Pauchkov/k4Reco.git
